---
import illustration from "@assets/illustration-schedule-posts.webp"
---

<article>
<h2>Schedule to social media.
</h2>
    <img src={illustration.src} width={illustration.width} height={illustration.height} decoding="async" loading="lazy" alt='' />
<p>Optimize post timings to publish content at the perfect time for your audience.</p>
</article>


<style>
    article {
        padding: 2rem 1rem;
        background: hsl(var(--purple-100));
        text-align: center;

        @media (width > 620px) {
            grid-area: SchedulePosts;
            text-align: left;
            align-content: center;
            padding: 2rem;
        }
    }

    img {
        margin-block: 1rem;

        @media (width > 620px) {
            max-inline-size: 180%;
        }
    }

    h2 {
        font-size: 1.75rem;
        letter-spacing: -0.05em;

        @media (width > 620px) {
           font-size: 2rem;
           line-height: .9;
           letter-spacing: -0.03em;
        }
    }

    p {
        @media (width > 620px) {
         line-height: 1.111;
        }
    }
</style>
